.body{
    background: url("/page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    margin: 0ch;
    height: 160px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 50px;
    color:black;
}

#coins-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start
}

.card{
    margin: 15px;
    width: 15rem;
    min-height: 190px;
}

.about{
    font-size: large;
    margin-left: 20px;
    color: white;
}

/*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/
  