
a:hover{
    cursor: pointer;
}
.body{
    background-color: black;
}
.title{
    margin-right: 50%;
    font-size: 25px;
}

#coins-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start
}

.card{
    margin: 15px;
    width: 15rem;
    min-height: 190px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.about{
    font-size: large;
    margin-left: 20px;
    color: white;
}

.navbar{
    position: fixed;
}
/*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }*/
  
  .form-check-input:checked{
      background-color: green !important;
  }